body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Top navigation */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Main content */
.content {
  background-color: #ddd;
  padding: 50px 20px;
  min-height: 150px;
}

.content h2 {
  font-size: 30px;
  margin-top: 0;
}

/* Footer */
.footer {
  background-color: #f1f1f1;
  padding: 30px 20px;
}

.footer p {
  margin: 0;
}
