/* Home 2 Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    font-weight: bold;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: #333;
}

.content {
    margin-left: 160px;
    padding: 0 20px;
}

/* Responsive */
@media screen and (max-width: 600px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidenav a {
        float: left;
    }
    .content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidenav a {
        text-align: center;
        float: none;
    }
}
