body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    display: flex;
    width: 800px;
    border: 1px solid #000;
    min-height: 450px;
}

.sidebar {
    width: 35%;
    background-color: #eee;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 12px 20px;
    border-bottom: 1px solid #ddd;
}

.sidebar li.active {
    background-color: #777;
    color: #fff;
}

.content {
    width: 65%;
    padding: 20px 40px;
}

.content h1 {
    font-size: 24px;
    margin-top: 0;
}

.content h2 {
    font-size: 18px;
    margin-top: 30px;
}

.content ol {
    margin-left: 20px;
}

.content li {
    margin-bottom: 5px;
}
