/body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#vung1 {
    background-color: yellow;
    padding: 15px;
    margin-bottom: 10px;
    border: 20px solid white;
    color: yellow;
}

#vung2 {
    background-color: lightblue; 
    color: darkblue;
    padding: 15px;
    margin-bottom: 10px;
    border: 70px solid black;
    color: red;
}

#vung3 {
    background-color: lightcoral; 
    color: #333;
    padding: 15px;
    border: 20px solid gray;
    color:white;
}

